__pycache__/
*.py[cod]
*.pyo
*.pyd

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

exp/
results/
logs/
lightning_logs/
checkpoints/
*.ckpt
*.pth

data/
../data/
*.pt
*.npy
*.npz

.env
.venv/
venv/
env/

Thumbs.db
.DS_Store
